{% extends 'authentication/register-base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <div class="create-task-register">
        <div class="create-section register">
            <form id="register-form" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">REGISTER</legend>
                    {{ form.username|as_crispy_field }}
                    {{ form.email|as_crispy_field }}
                    {{ form.password|as_crispy_field }}<br>
                    {{ form.password2|as_crispy_field }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info mb-3" type="submit">Sign Up</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-white">
                    Already Have An Account? <a class="ml-2 text-white" href="{% url 'login' %}">Sign In</a>
                </small>
            </div>
        </div>
        <div class="video-background">
            <video autoplay muted loop>
                <source src="{% static 'authentication/videos/background-video01.webm' %}" type="video/webm">
            </video>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {

            $('#register-form').on('submit', function(event) {
                event.preventDefault();

                const csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

                // Serialize the form data
                var formData = $('#register-form').serialize();

                $.ajax({
                    type: 'POST',
                    url: '/api/register/', 
                    data: formData,
                    headers: {
                    'X-CSRFToken': csrfToken
                    },
                    success: function(response) {
                        alert('Account created. You can now login.');
                
                        window.location.href = "{% url 'login' %}";
                    },
                    error: function(xhr, status, error) {
                        alert('Registration failed. Please try again.'); // Replace with your logic
                    }
                });
            });
        });

    </script>

{% endblock content %}
